body {
}

h1 {
  text-align: center;
}

P {
  font-family: verdana;
  font-size: 15px;
}

.splashheader {
  text-align: center;
  user-select: none;
}

.splashtext {
  font-family: verdana;
  font-size: 15px;
  text-align: center;
  user-select: none;
}
