body {
}

h1 {
  text-align: center;
}

P {
  font-family: verdana;
  font-size: 15px;
}

.splashheader {
}

.splashbody {
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
}
