@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&subset=greek');

body {
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

P{
  font-family: verdana;
  font-size: 15px;
  line-height: normal;
}

.splashheader {
  font-family: 'Montserrat', sans-serif;
}

.splashbody {
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  font-family: 'Roboto', sans-serif;
}

.splashcontainer {
  height: 10em;
  position: relative;
  letter-spacing: 1.5px;
}

.text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  outline-color: #ffffff;
}

.dud {
  color: #717171;
}

/* UI Album Art Palette */

.backgroundcolour {
  var()
}
.colour {
  var()
}
.alternativecolour {
  var()
}

/* PHOTON UI */

.pane-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
  border-left: 1px solid #ddd;
}
.pane-sm {
  max-width: 220px;
  min-width: 150px;
}
.pane-mini {
  width: 80px;
  flex: none;
}
